<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="hu.bme.mit.incqueryd.dseopt.queries.Queries" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.incqueryd.dseopt.queries.Queries" id="hu.bme.mit.incqueryd.dseopt.queries.Queries"/>
  </extension>
</plugin>
